@charset "utf-8";
@font-face {
  font-family: "Noto Sans Korean";
  font-style: normal;
  font-weight: 100;
  src: url("../../fonts/notosans/eot/NotoSansKR-Thin-Hestia.eot");
  src: local("Noto Sans Thin"), local("NotoSans-Thin"),
    url("../../fonts/notosans/eot/NotoSansKR-Thin-Hestia.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/notosans/woff/NotoSansKR-Thin-Hestia.woff") format("woff"),
    url("../../fonts/notosans/otf/NotoSansKR-Thin-Hestia.otf")
      format("opentype");
}
